*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
  background: url(temnyi-fon-301.png) no-repeat;
   background-size:auto;
}
.box{
width: 550px;
background: rgba(0, 0, 0, 0.4);
padding: 80px;
text-align: center;
margin: auto;
margin-top: 9%;
color: rgb(255, 255, 255);
font-family: 'Century Gothic',sans-serif;
}
.box-img{
border-radius: 50%;
width: 200px;
height: 200px;
}
.box h1{
    font-style: italic;
font-size: 35px;
letter-spacing: 4px;
font-weight: 100;
margin-top: 20px;
}
.box h5{
font-size: 20px;
letter-spacing: 1px;
font-weight: 100;
margin: 20px 0;
}
.box p{
    font-size: 15px;
text-align: justify;
}
ul{
margin: 0;
padding: 0;
}
.box li{
display: inline-block;
margin: 6px;
list-style: none;
}
.box li a{
color: rgb(255, 255, 255);
text-decoration: none;
font-size: 60px;
transition: all ease-in-out 250ms;
}
.box li a:hover{
color: #2684dd;
}